@tailwind base;
@tailwind components;
@tailwind utilities;

.family-meituan {
  font-family: MEITUANTYPE-REGULAR;
}

* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none !important;
}

@layer base {
  [type='button'] {
    background-color: '';
  }
}

/* 图片边框 */
.img-border {
  @apply border	border-solid border-white-6;
}
