.comment-item-container {
  position: relative;

  @apply border-0;
}

.border-top-gray {
  @apply border-t-white-6 border-solid border-t;
}

.border-bottom-gray {
  @apply border-b-white-6 border-solid border-b;
}

.comment-item-container:first-of-type {
  @apply border-t-white-6 border-solid border-t;
}

.comment-container {
  .comment-text-area {
    textarea {
      background: transparent !important;
      color: rgba(255, 255, 255, 0.84) !important;
      border: 1px solid #247bff !important;
    }
  }

  .comment-btn-cancel,
  .comment-btn-cancel:hover {
    background: #3d3d3d;
    color: #fff;
    border: none;

    &:active {
      background: #247bff;
      color: #fff;
    }
  }
}

.comment-item-label {
  @apply inline-block text-sm border border-solid border-white-42 rounded leading-6 px-1 ml-2;
}

.comment-mid-lines {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -12px;

  @apply w-full flex items-center text-white-84 text-base;

  .comment-mid-text {
    margin: 0 5px;
  }

  .comment-mid-line {
    flex: 1;
    height: 1px;

    @apply bg-white-6;
  }
}
