.detail-left,
.detail-right {
  max-height: calc(100vh - 48px - 28px - 28px - 22px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
}

.detail-left {
  padding-right: 25px;

  @apply min-w-full lg:min-w-733px;
}
