.breadcrumb-icon {
  content: '/';
  margin: 0 4px;

  @apply text-white-12;
}

.breadcrumb-border:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.84);
}

.breadcrumb-container {
  @apply text-white-42 text-base;
}

.breadcrumb-container a {
  color: inherit;
}

.breadcrumb-container a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.84);

  @apply text-white-84;
}
