.header-toolbar {
  .header-toolbar-connect {
    color: rgba(255, 255, 255, 0.84);
    font-size: 20px;
    cursor: pointer;
  }
}

.layout-content {
  display: flex;
  justify-content: center;
  padding: 28px 60px;
  height: calc(100vh - 48px);
  overflow: auto;

  .layout-content-inner {
    // min-width: 1440px;
    max-width: 1440px;
  }
}
