.header-toolbar {
  .header-toobar-bg {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;

    &:hover {
      background: #3d3d3d;
    }
  }

  .header-toolbar-connect {
    color: rgba(255, 255, 255, 0.84);
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
  }
}

.layout-content {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 28px 60px;
  height: calc(100vh - 48px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  .layout-content-inner {
    // min-width: 1440px;
    max-width: 1320px;
    width: 100%;
  }
}

.header-tooltip {
  .mtd-tooltip-arrow,
  .mtd-tooltip-inner {
    background: #5ea8f8 !important;
  }
}
